weather () {
    curl "https://wttr.in/${1}"
}

terraform@0.12 () {
    /usr/local/opt/terraform@0.12/bin/terraform
}

terraform@0.13 () {
    /usr/local/opt/terraform@0.13/bin/terraform
}

pans () {
    ssh admindhenken@ansible.trustwave.com
}

ans () {
    ssh ansible.tw-test.net
}

pf () {
    fzf --preview='less {}' --bind shift-up:preview-page-up,shift-down:preview-page-down
}

lf () {
  file=$(fzf)
  less $file
}

vf () {
  file=$(fzf)
  vim $file
}

tld () {
  ls \
  | awk -F. '{ print $1 }' \
  | uniq -c \
  | grep -v tld \
  | sort > tld \
  && less tld
}
