weather () {
    curl "https://wttr.in/${1}"
}

terraform@0.12 () {
    /usr/local/opt/terraform@0.12/bin/terraform $@
}

terraform@0.13 () {
    /usr/local/opt/terraform@0.13/bin/terraform $@
}

pans () {
    ssh admindhenken@ansible.trustwave.com
}

ans () {
    ssh ansible.tw-test.net
}

pf () {
    fzf --preview='less {}' --bind shift-up:preview-page-up,shift-down:preview-page-down
}

lf () {
  file=$(fzf)
  less $file
}

vf () {
  file=$(fzf)
  vim $file
}

tld () {
  ls \
  | awk -F. '{ print $1 }' \
  | uniq -c \
  | grep -v tld \
  | sort > tld \
  && less tld
}


bastion () {
  ssh centos@bastion.$1.trustwave.cloud
}

bastion::jump () {
  ssh -J centos@bastion.$1.trustwave.cloud centos@$2
}

tf::os::secrets-dump () {
  terraform output AWS_ACCESS_KEY >> .secrets && \
    terraform output SECRET_ACCESS_KEY >> .secrets && \
    terraform output |grep data >> .secrets
  cat .secrets
  rm .secrets
}

pans () {
    ssh admindhenken@ansible.trustwave.com
}

ans () {
    ssh ansible.tw-test.net
}

pf () {
    fzf --preview='less {}' --bind shift-up:preview-page-up,shift-down:preview-page-down
}

lf () {
  file=$(pf)
  less $file
}

vf () {
  file=$(pf)
  vim $file
}

tld () {
  ls \
  | awk -F. '{ print $1 }' \
  | uniq -c \
  | grep -v tld \
  | sort > tld \
  && less tld
}

ll () {
  ls -l $@
}

chimera () {
  cd ~/trustkeeper-aws/chimera.$1
}

medusa () {
  cd ~/trustkeeper-aws/medusa.$1
}

notes () {
  cd ~/notes
}

s3_dump_details () {
  terraform output -json | jq '{user: .archive_user_access_key_id.value, password: .archive_user_secret_access_key.value, endpoint: .s3_bucket_endpoint.value, bucket_id: .s3_bucket_id.value}'
}

tf::init () {
  terraform apply -target='module.workspace["$1"].tfe_workspace.this'
}


ssm-account () {
  grep $1 ~/notes/tw.aws.accounts.md
}

az-login () {
  azure-login --profile adm
}

ssm.me () {
  ssm-session $1 --profile adm
}

dump-sec-rules () {
  grep aws_security_group ~/plan.txt | grep '\#' | grep -v changed | awk '{print $3}'
}
